html,
body,
Select {
  background-color: #160c21;
  color: #f6f0da;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.allTables {
  display: flex;
  gap: 1rem;
}

.allTables > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border-collapse: collapse;
}

thead {
  font-style: bold;
  border-bottom: 5px solid #3c1765;
  font-size: 10px;
}
tbody td {
  border: 3px solid #5c163c;
  padding: .4rem;
}

.Loadout,
.armorSlots {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
